html, body {
    position: relative;
    width: 100vw;
    height: 100vh;
}

@font-face {
  font-family: "Candara";
  src: url("./static/fonts/candara.woff2") format("woff2"),
       url("./static/fonts/candara.woff2") format("woff");
}

@font-face {
  font-family: "Candara";
  src: url("./static/fonts/candarab.woff2") format("woff2"),
       url("./static/fonts/candarab.woff") format("woff");
       font-weight: bold; font-style: normal;
}

@font-face {
  font-family: "FirstV2";
  src: url("./static/fonts/firstv2.woff2") format("woff2"),
       url("./static/fonts/firstv2.woff") format("woff");
}

@font-face {
  font-family: "Athelas";
  src: url("./static/fonts/Athelas-Regular.woff") format("woff");
  font-weight: normal; font-style: normal;
}
@font-face {
  font-family: "Athelas";
  src: url("./static/fonts/Athelas-Bold.woff") format("woff");
  font-weight: bold; font-style: normal;
}
@font-face {
  font-family: "Athelas";
  src: url("./static/fonts/Athelas-Italic.woff") format("woff");
  font-weight: normal; font-style: italic;
}
@font-face {
  font-family: "Athelas";
  src: url("./static/fonts/Athelas-BoldItalic.woff") format("woff");
  font-weight: bold; font-style: italic;
}

@font-face {
  font-family: "PoisonHope";
  src: url("./static/fonts/PoisonHope-Regular.woff2") format("woff2"),
       url("./static/fonts/PoisonHope-Regular.woff") format("woff");
}

body, html{
    margin:0;
    padding:0;
}

body {
    color: #333;
    margin: 0;
    min-width: fit-content;
    box-sizing: border-box;
    font-family: "Candara", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #fff;
    text-decoration: none;
}


a:hover {
    color: #9c0719;
    text-decoration: underline;
}


label.checkbox {
    color: white;
    background-color: #000;
    margin: 4px;
    padding: 4px 16px;
    border-radius: 64px;
    width: fit-content;
    cursor: pointer;
}

label.checkbox > input {
    display:none;
}

label.checkbox:hover {
    background-color: #5d0610;
}

label.active {
    background-color: #9c0719;
}


input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
}

input:disabled {
    color: #ccc;
}

h2 {
    font-family: "PoisonHope";
}

button {
    font-family: "Athelas";
    color: white;
        background-color: #000;
        outline: none;
        font-size: 1.25rem;
}

button.active {
    background-color: #9c0719;
}
button:active {
    background-color: #5d0610;
}

label {
    font-family: "Athelas";
}