<footer>
    <img src="./static/images/pentagram-hi.png" alt="Pentagram" />
    <a href="https://schwalbentertainment.com/" target="_blank" rel="noreferrer"
        ><p><i>Visit schwalbentertainment.com</i></p></a
    >
    <a
        href="https://www.drivethrurpg.com/browse/pub/8782/Schwalb-Entertainment&affiliate_id=514824"
        target="_blank"
        rel="noreferrer"
        ><p><i>Buy Shadow of the Demon Lord on DriveThruRPG</i></p></a
    >
    <a href="https://svelte.dev/" target="_blank" rel="noreferrer"
        ><p><i>Made with Svelte</i></p></a
    >

    <img src="./static/images/pentagram-hi.png" alt="Pentagram" />
</footer>

<style>
    footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        background-color: black;
        height: 64px;
        font-family: "Athelas";
    }
    p {
        margin: 0;
        font-size: 0.75rem;
        line-height: 0.75rem;
    }
    img {
        min-width: 24px;
        max-width: 48px;
        width: 5vw;
    }

    @media (min-width: 992px) {
        p {
            font-size: 1rem;
        }
    }
</style>
