<header>
    <img
        src="./static/images/SE_logo_white-01.png"
        alt="Shadow of the Demon Lord logo"
    />
    <a href="https://m4rcLs.de" target="_blank" rel="noreferrer"
        ><h1>m4rcLs.de</h1></a
    >
    <img
        src="./static/images/SE_logo_white-01.png"
        alt="Shadow of the Demon Lord logo"
    />
</header>

<style>
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: black;
        height: 48px;
        width: 100%;
    }
    img {
        padding-left: 4px;
        height: 32px;
    }
    a {
        padding: 0px 16px;
    }
</style>
